Source: kmscube
Section: utils
Priority: optional
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Build-Depends: cdbs,
               debhelper (>= 7),
               libtool,
               pkg-config,
               dh-autoreconf,
               libgbm-dev (>= 9.0.0-8),
               libdrm-dev (>= 2.4.39),
               libegl1-mesa-dev,
               libgles2-mesa-dev
Standards-Version: 3.9.2
Vcs-Git: git://gitorious.org/ubuntu-omap/kmscube.git
Homepage: https://github.com/robclark/kmscube

Package: kmscube
Architecture: any
Section: utils
Priority: optional
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Example GLes app using kms/gbm
